# Dependências
node_modules

# Build outputs
dist
build
.next
out

# Ambiente / segredos
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / SO
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db

# Testes / cobertura
coverage

# pnpm
.pnpm-store